<!DOCTYPE html>
<head>
  <meta charset= "UTF-8">
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="css/style.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>
  <body>
    <div class="top-div">
      <div class="row main">
        <div class="col-sm-2">
          <div class="row logo-div">
          </div>
          <div class="row left-div">
            <div class="row pad">
              <div class="col-sm-8">Total Tasks </div><div class="col-sm-4"><%= todos.length %></div>
            </div>
            <div class="row pad">
              <div class="col-sm-8">Pending</div><div class="col-sm-4"><%= pending.length %></div>
            </div>
            <div class="row pad">
              <div class="col-sm-8">Done</div><div class="col-sm-4"><%= done.length %></div>
            </div>
            <div class="row pad">
              <div class="col-sm-8"><a href="/todo/new"><button type="button" class="btn btn-info add-button">Add New Todo</button></a></div>
            </div>
          </div>
        </div>
        <div class="col-sm-10 right-div">
          <div class="row list-header">
            <div class="col-sm-2"><span>status</span></div>
            <div class="col-sm-4"> Title </div>
            <div class="col-sm-2"> Date Created</div>
            <div class="col-sm-2">&nbsp; </div>
            <div class="col-sm-2"></div>
          </div>
          <% todos.each do |todo| %>
          <div class="row list-todo">
            <% if todo.status == "pending" %>
            <div class="col-sm-2"><span class="pending"><%= todo.status %></span></div>
            <% else %>
            <div class="col-sm-2"><span class="done"><%= todo.status %></span></div>
            <% end %>

            <div class="col-sm-4"> <%= todo.title %> </div>
            <div class="col-sm-2"> <%= todo.created_at[0..10] %> </div>
            <div class="col-sm-1"><a href="/todo/<%= todo.id %>" class="btn btn-success view">View </a></div>
            <div class="col-sm-1"><a href="/todo/<%= todo.id %>/edit" class="btn btn-primary edit">Edit</a></div>
            <form action="/todo/<%= todo.id %>"  method="post">
              <input type="hidden" class="form-control" name="_method" value ="delete" />
              <button class="btn btn-sm  btn-danger delete">Delete</button>
            </form>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
