<!DOCTYPE html>
<head>
  <meta charset= "UTF-8">
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="css/style.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div class="top-div">
      <div class="row main">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-10 right-div">
          <div class="form-div">
            <div class="row title">
              <div class="col-sm-6">
              <span><%= todo.title %></span>
              </div>
              <div class="col-sm-4">
                <span><%= todo.created_at[0..10] %></span>
              </div>
              <div class="col-sm-2">
                <span><%= todo.status %></span>
              </div>
            </div>
            <div class="row">
                <p><%= todo.body %></p>
            </div>
            <div class="row">
              <div class="col-sm-2">
              <form action="/todo/<%= todo.id %>"  method="post">
                <input type="hidden" class="form-control" name="_method" value ="delete" />
                <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
              </form>
              </div>
              <div class="col-sm-6">
              <a href="/todo/<%= todo.id %>/edit" class="btn btn-info">
                <span class="glyphicon glyphicon-edit"></span>
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
